label live-amd64
	menu label ^Live system (amd64)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components quiet splash

label qemu-smoke-amd64
	menu label ^QEMU smoke test (software renderer)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components console=ttyS0,115200n8 systemd.setenv=WLR_RENDERER_ALLOW_SOFTWARE=1

label live-amd64-failsafe
	menu label Live system (amd64 fail-safe mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
