[connection]
id=sushida-os-wifi
type=wifi
autoconnect=true

[wifi]
mode=infrastructure
ssid=REPLACE_WITH_WIFI_SSID

[wifi-security]
key-mgmt=wpa-psk
psk=REPLACE_WITH_WIFI_PASSWORD

[ipv4]
method=auto

[ipv6]
method=auto
